<div class="header">
  <div class="header_content">
    <LinkTo @id="link_home" class="breadcrumb" @route="employees.index">
      {{t "header.linkHome"}}
    </LinkTo>
    <h3>{{t "app.title"}}</h3>
  </div>
</div>
